  body {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif; 
    background-color: gray;
    max-width: 100%;
  }
  
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: green; 
    padding: 24px;
}
header{
    background-color: aqua;
}

header .logo-botafogo{
    background-color: brown; 
    width: 150px;
}
header h1{
    margin: 20px;
    font-size: 50px;
    color: white;
}

header .cabecalho{
    background-color: cornflowerblue;
    display: flex;
    width: 900px;
    height: 100px;
}
 header .cabecalho .menu{
    color: yellow;
    margin: 12px;
    transition: all 0.9;
}

header .cabecalho .menu:hover{
    color: #787878
}
 
header .cabecalho .menu .sub-menu-h a{
    background-color: aquamarine;
    justify-content: center;
    display: none;
    text-decoration: underline;
    padding: auto;
}
nav ul{
    background-color: chartreuse;
    flex-wrap: nowrap;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul .sub-menu-h{
    background-color: darkgoldenrod;
    list-style-type: wrap ;
    display: inline;
    list-style: none;
    padding: 10px;
    margin: 10px;

}

nav ul .sub-menu-h .sub{
    padding: 50px;
}

